.scoreRow {
  list-style: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  height: 5em;
  padding: 5%;
  word-wrap: break-word;
}

.scoreText {
  margin: auto;
}

.gameListRow {
  list-style: none;
}

.chatRow {
  list-style: none;
  border-radius: 5px;
  /*border-style: solid;
  border-width: 1px;*/
  min-height: 1em;
}

#chatBar {
  display: none;
}

#messages {
  height: 80%;
  overflow-y: auto;
}