.scoreRow {
  list-style: none;
  border-radius: 5px;
  height: 3.5em;
  padding: 15px;
  word-wrap: break-word;
  display: block;
}

.scoreText {
  font-size: 16px;
  font-weight: bold;
  margin: auto;
}

.gameListRow {
  list-style: none;
}

.chatRow {
  list-style: none;
  border-radius: 5px;
  min-height: 1em;
}

#chatBar {
  display: none;
}

#messages {
  height: 80%;
  overflow-y: auto;
}

#scoreboard {
  margin-bottom: 10px;
}

#nameInput {
  width: 75%;
}
