<head>
	<title>Worphles</title>

	<script type="text/javascript" src="../lib/jquery-2.0.3.min.js"/>
	<script type="text/javascript" src="../lib/buttons.js"/>
	<script type="text/javascript" src="../lib/three.js"/>

	<link rel="stylesheet" href="../css/client.css"/>
	<link rel="stylesheet" href="../css/buttons.css"/>
</head>

<body>
	<script type="text/javascript" src="../js/starfield-gl.js"/>
	<div class="content">
		<div class="topButtonGroup">
			<span class="button-wrap"><a href="#" class="button button-circle button-flat-primary">The Story</a></span>
			<span class="button-wrap"><a href="#" class="button button-circle button-flat-primary">About</a></span>
			<span class="button-wrap"><a href="#" class="button button-circle button-flat-primary">Donate!</a></span>
		</div>
		<div class="centerContent">
			Worphles! (replace with logo)
		</div>
		<div class="botButtonGroup">
			<span class="textDivider">LOGIN</span>
			<span class="button-wrap"><a href="#" class="button button-circle button-flat-action">With Google</a></span>
			<span class="textDivider">OR</span>
			<span class="button-wrap"><a href="#" class="button button-circle button-flat-action">As Guest</a></span>
		</div>
	</div>
</body>

<template name="mainPage">
</template>
