html {
	cursor: url(/webui/resources/cursors/stand.png), auto;
}

a, button {
	cursor: url(/webui/resources/cursors/lookup.png), auto;
}

body {
	font-family: 'arial';
	font-family: 'Josefin Sans', sans-serif;
	background-color: black;
	margin: 0;
}

canvas {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#myBook > .closeBtn {
	position: absolute;
	line-height: 50px;
	right: 0;
	bottom: 0;
	margin: 0px 0px -20px 0px;
	font-size: 50px;
	opacity: 0.7;
	filter:alpha(opacity=70);
	z-index: 20;
}

#myBook > .closeBtn:hover {
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.sidebar {
	display: inline;
	text-align: center;
}

.sidebar > .botSideBarContent {
	width: 100%;
	margin: 0 auto 50px auto;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
}

.sidebar > .centerSideBarContent {
	margin-top: -145px;
	width: 100%;
	top: 50%;
	left: 50%;
	margin-left: -186px;
	position: absolute;
	height: 311px;
}

.imBookPage {
	position: absolute;
	left: 0px;
	top: 0px;
	color: black;
	overflow: hidden;
	background-color: #DDD;
	font-size: 26px;
	vertical-align: text-bottom;
}

.rightPage {
	cursor: url(/webui/resources/cursors/signright.png), auto;
}

.leftPage {
	cursor: url(/webui/resources/cursors/signleft.png), auto;
}

.imBookPage:hover {
	color: #337;
}

.storyText {
	text-align: center;
	display: block;
	padding: 12px;
}

.storyImg {
	height: 75%;
	width: auto;
}

.titlePage > .storyText, .finPage > .storyText {
	font-weight: bold;
	font-size: 72px;
}

.sidebar > .topSideBarContent {
	width: 100%;
	margin: 50px auto 0 auto;
	font-size: 24px;
}

.textDivider {
	color: white;
	margin: 0px 20px 0px 20px;
}

#content {
	position: absolute;
	width: 75%;
	height: 100%;
	top: 0%;
	left: 25%;
}

#playButton {
	width: 250px;
	font-size: 40px;
}

#myBookContainer {
	position: relative;
}

#myBook {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 80px auto 0 auto;
	background-color: transparent;
	font-family: 'Josefin Sans', sans-serif;
}

#wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#mainLobbyContainer {
	display: none;
}